<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./../assets/favicon/favicon.ico" type="image/x-icon">
    <title>Francisco - Portfólio - Projetos</title>
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <link rel="stylesheet" href="./../assets/css/extras.css" />
    <link rel="stylesheet" href="./../assets/css/project.css" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <div class="logo-circle"></div>
            <h1>Francisco Carlos</h1>
        </div>
        <nav class="nav">
            <a href="./../index.html">Home</a>
            <a href="#">Projetos</a>
            <a href="./sobre.html">Sobre</a>
            <a href="./contato.html">Contato</a>
        </nav>
    </header>

    <main class="hero">
        <section id="projects" class="projects-section">
            <h2>Projetos Desenvolvidos</h2>

            <div class="project">
                <img src="https://picsum.photos/id/1011/900/400" alt="Sistema Cooperativa de Laticínios"
                    class="project-img">
                <h3>Sistema de Monitoramento para Cooperativa de Laticínios</h3>
                <p>Plataforma web desenvolvida para gestão de supervisores, vendedores e clientes, integrando relatórios
                    de desempenho e controle de visitas. Utiliza <strong>Laravel</strong> no back-end e uma interface
                    personalizada para facilitar a gestão interna da cooperativa.</p>
            </div>

            <div class="project">
                <img src="https://picsum.photos/id/1005/900/400" alt="Portal Acadêmico IEEE" class="project-img">
                <h3>Portal Acadêmico IEEE</h3>
                <p>Desenvolvimento de um portal acadêmico para o <strong>IEEE</strong>, com foco na divulgação de
                    eventos, submissão de artigos e inscrições. Sistema completo com <strong>CMS</strong> personalizado
                    para gerenciamento do conteúdo pelo próprio cliente.</p>
            </div>

            <div class="project">
                <img src="https://picsum.photos/id/1015/900/400" alt="Plataforma E-commerce Proprietária"
                    class="project-img">
                <h3>Plataforma E-commerce Proprietária</h3>
                <p>Projeto autoral de um sistema de e-commerce completo, dividido em <strong>Site</strong>,
                    <strong>CMS</strong> e <strong>API</strong>. Utiliza <strong>Vue.js</strong> no front-end e
                    <strong>Laravel</strong> no back-end, com arquitetura otimizada para performance, escalabilidade e
                    segurança.
                </p>
            </div>


        </section>
    </main>

    <footer>
        <a href="https://github.com/Francisco-Carlos">
            &copy; 2023 Francisco Carlos</a>
    </footer>
</body>

</html>