<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon">
    <title>Francisco - Portfólio</title>
    <link rel="stylesheet" href="./../assets/css/style.css" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <div class="logo-circle"></div>
            <h1>Francisco Carlos</h1>
        </div>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="#">Projetos</a>
            <a href="./sobre.html">Sobre</a>
            <a href="./contato.html">Contato</a>
        </nav>
    </header>

    <main class="hero">
        <section id="about" class="about-section">
            <h2>Sobre Mim</h2>
            <p>Olá! Eu sou <strong>Francisco Carlos</strong>, desenvolvedor web full stack especializado em criar
                soluções robustas e eficientes para empresas que buscam transformar seus processos através da
                tecnologia.</p>

            <p>Atuo profissionalmente desde 2022, mas meu envolvimento com programação começou bem antes, em 2019. Tenho
                experiência sólida com desenvolvimento backend em <strong>Laravel (PHP)</strong> e frontend em
                <strong>Vue.js</strong>, além de estar sempre explorando novas tecnologias para entregar projetos
                modernos e bem estruturados.
            </p>

            <p>Já desenvolvi sistemas para instituições acadêmicas como <strong>IF Sudeste MG</strong>,
                <strong>UFJF</strong> e organizações como o <strong>IEEE</strong>, além de projetos privados e
                empresariais, incluindo plataformas completas com <strong>e-commerce</strong>, <strong>CMS</strong> e
                <strong>APIs integradas</strong>.
            </p>

            <p>Atualmente, também estou à frente de um projeto próprio de e-commerce, que une minha paixão por
                desenvolvimento à vontade de empreender no mundo digital.</p>

            <p>Valorizo a construção de soluções personalizadas que realmente resolvem problemas, sempre com foco em
                <strong>performance</strong>, <strong>segurança</strong> e <strong>facilidade de uso</strong>.
            </p>

            <p>Se você busca um profissional comprometido, com visão estratégica e foco em resultados, <strong>vamos
                    conversar!</strong></p>
        </section>
    </main>

    <footer>
        <a href="https://github.com/Francisco-Carlos">
            &copy; 2023 Francisco Carlos</a>
    </footer>
</body>

</html>